<div>
    <h1 style="color:#FF7023;font-family:Arial;font-weight:bold;line-height: 28px;">Creme Meetings</h1>
    <h3 style="color:#000000;font-family:Arial;font-weight:bold;line-height:16px;">Revisar la implementación de Pruebas Unitarias</h3>
    <h5>Wednesday, October 25, 2017</h5>
    <hr />
    <h4>Leonardo Solis</h4>
    <h5>Owner</h5>
    <hr />
    <h4><strong>Co-owner</strong></h4>
    <h5>Leonardo Solis <small style="color:#FF7023;">NO-PRESENT</small> </h5>
    <h4><strong>Attendees</strong></h4>
    <h5>Leonardo Solis <small style="color:#FF7023;">PRESENT</small> </h5>
    <h5>Leonardo Solis <small style="color:#FF7023;">PRESENT</small> </h5>
    <hr />
    <h4 style="color:#FF7023;font-family:Arial;font-weight:bold;line-height: 28px;">Agreements</h4>
    <hr />
    <h4 style="color:#FF7023;font-family:Arial;font-weight:bold;line-height: 28px;">Tasks</h4>
    <table style="border: 1px solid gray;width: 100%;">
        <tr>
            <td style="">Wednesday, October 25, 2017</td>
            <td style="text-align:right;">Approved Taks</td>
        </tr>
    </table>
</div>