<div>
    <h1 style="color:#FF7023;font-family:Arial;font-weight:bold;line-height: 28px;">Creme Meetings</h1>
    <h3 style="color:#000000;font-family:Arial;font-weight:bold;line-height:16px;">Revisar la implementación de Pruebas Unitarias</h3>
    <h5>Wednesday, October 25, 2017</h5>
    <hr style="margin-top: 10px;margin-bottom: 10px;"/>
    <h4>Leonardo Solis</h4>
    <h5>Owner</h5>
    <hr style="margin-top: 10px;margin-bottom: 10px;" />
    <h4><strong>Co-owner</strong></h4>
    <h5>Leonardo Solis <small style="color:#FF7023;">NO-PRESENT</small> </h5>
    <h4><strong>Attendees</strong></h4>
    <h5>Leonardo Solis <small style="color:#FF7023;">PRESENT</small> </h5>
    <h5>Leonardo Solis <small style="color:#FF7023;">PRESENT</small> </h5>
    <hr style="margin-top: 10px;margin-bottom: 10px;" />
    <h4 style="color:#FF7023;font-family:Arial;font-weight:bold;line-height: 28px;">Agreements</h4>
    <table style="width: 100%; display: block;padding: 10px;">
        <tr>
            <td style="padding: 5px;">&bull;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum pharetra mi, eget vehicula mauris sollicitudin id. Etiam et quam libero. Aliquam feugiat arcu sed est suscipit iaculis. Pellentesque nec purus et nibh bibendum tempus et a sapien. Ut sit amet tristique neque. Donec ullamcorper convallis massa, malesuada lacinia tellus pulvinar ut. Duis sit amet pulvinar elit, vel varius nisi. Curabitur facilisis faucibus bibendum. Aliquam erat volutpat. Proin accumsan volutpat ultricies.</td>
        </tr>
        <tr>
            <td style="padding: 5px;">&bull;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum pharetra mi, eget vehicula mauris sollicitudin id. Etiam et quam libero. Aliquam feugiat arcu sed est suscipit iaculis. Pellentesque nec purus et nibh bibendum tempus et a sapien. Ut sit amet tristique neque. Donec ullamcorper convallis massa, malesuada lacinia tellus pulvinar ut. Duis sit amet pulvinar elit, vel varius nisi. Curabitur facilisis faucibus bibendum. Aliquam erat volutpat. Proin accumsan volutpat ultricies.</td>
        </tr>
        <tr>
            <td style="padding: 5px;">&bull;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum pharetra mi, eget vehicula mauris sollicitudin id. Etiam et quam libero. Aliquam feugiat arcu sed est suscipit iaculis. Pellentesque nec purus et nibh bibendum tempus et a sapien. Ut sit amet tristique neque. Donec ullamcorper convallis massa, malesuada lacinia tellus pulvinar ut. Duis sit amet pulvinar elit, vel varius nisi. Curabitur facilisis faucibus bibendum. Aliquam erat volutpat. Proin accumsan volutpat ultricies.</td>
        </tr>
    </table>
    <hr style="margin-top: 10px;margin-bottom: 10px;" />
    <h4 style="color:#FF7023;font-family:Arial;font-weight:bold;line-height: 28px;">Tasks</h4>
    <table style="border: 1px solid #D5D9DA;width: 100%; display: block;padding: 10px;">
        <tr>
            <td style="width: 50%;padding: 5px;">Wednesday, October 25, 2017</td>
            <td style="width: 50%;padding: 5px;text-align:right;color:#FF7023;">Approved Taks</td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 5px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum pharetra mi, eget vehicula mauris sollicitudin id. Etiam et quam libero. Aliquam feugiat arcu sed est suscipit iaculis. Pellentesque nec purus et nibh bibendum tempus et a sapien. Ut sit amet tristique neque. Donec ullamcorper convallis massa, malesuada lacinia tellus pulvinar ut. Duis sit amet pulvinar elit, vel varius nisi. Curabitur facilisis faucibus bibendum. Aliquam erat volutpat. Proin accumsan volutpat ultricies.</td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 5px;color:#FF7023;">euler.chavez@mobiik.com</td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 5px;">euler.chavez@mobiik.com, euler.chavez@mobiik.com, euler.chavez@mobiik.com, euler.chavez@mobiik.com, euler.chavez@mobiik.com, euler.chavez@mobiik.com</td>
        </tr>
    </table>
</div>